.card{
    border: 1px solid #f2e9e4;
    border-radius: 1rem;
    width: 330px;
    height: 400px;
    display:flex;
    flex-direction: column;
    position: relative;
    color: #f5d1ef;
    background-color: #5e548e23;
    box-shadow: 1.5px 0.5px 5px #f2adadbc;
    margin: 10px;
    overflow: hidden;
}
.card:hover{
    background-color: #e75d5dbc;
    color: rgb(16, 15, 15);
    transition: all 250ms ease 0s;
    box-shadow: 3.5px 1.5px 5px white;
}

.imgstyle{
    margin: 2px;
    border: 2px solid #c9ada7;
    border-radius: 1rem;
    width: 324px;
    height: 164px;
    padding: 5px;
}

.link {
    color: rgb(176, 164, 164);
    backdrop-filter: blur(5px);
    background-color: #00000080;
    position: absolute;
    bottom: 0.35rem;
    right: 7.5rem;
    align-items: center;
    text-align:center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    width: 6rem;
    height: 1.5rem;
    cursor: pointer;
    font-family: 'Wild Hunt', sans-serif;
    font-size: 0.95rem;
    font-weight: 700;
}
.link:hover{
    background-color: #22223b;
    color: #bee3db;
    transition: all 450ms ease 0s;
}
.section{
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
}

.name{
    color: black;
    background-color: #c9ada781;
    margin: 0.25rem;
    font-family: 'Wild Hunt', sans-serif;
    font-size: 1.95rem;
    font-weight: 700; 
    border: 2px solid #c9ada7;
    border-radius: 0.5rem;
    padding: 0.25rem;

}

.divName{
    display: flex;
}

.divInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: 100px;
}

.region, .population{
    font-family: 'Wild Hunt', sans-serif;
    font-size: 1.35rem;
    font-weight: 700;
    color: #b9b9bf;
}