/* .form{
    justify-content: space-between;
    width: 50%;
} */


.input{
    color: rgb(176, 164, 164);
    border: 1px solid #00000080;
    border-radius: 0.5rem;
    background-color: #29292980;
    height: 25px;
    padding: 3px;
    margin: 5px;
}

.btn{
    color: rgb(176, 164, 164);
    backdrop-filter: blur(3px);
    background-color: #00000080;
    border: 1px solid #29292980;
    border-radius: 0.5rem;
    width: 6rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 700;
    font-family: 'Wild Hunt', sans-serif;
}
.btn:hover{
    background-color: #60609c;
    backdrop-filter: blur(10px);
    color: #bee3db;
    transition: all 450ms ease 0s;
}