.create{
    background-image: url('../img/bkg_image2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

.header{
    backdrop-filter: blur(3px);
    border: 2px solid transparent;
    background-color: #00000080;
    height: 40px;
    
}

.btnHeader{
    color: rgb(176, 164, 164);
    backdrop-filter: blur(3px);
    background-color: #00000080;
    border: 2px solid #0000005a;
    border-radius: 0.5rem;
    width: 6rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 6px;
}
.btnHeader:hover{
    background-color: #60609c;
    color: #bee3db;
    transition: all 450ms ease 0s;
}