
.land{
    display: flex;
    flex-direction: column;
    background-image: url('../img/bkg_image2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}

.title{
    display: flex;
    position: relative;
    color: rgb(176, 164, 164);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    backdrop-filter: blur(3px);
    background-color: #0000005d;
    border: 2px solid #0000005a;
    border-radius: 0.5rem;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 40%;
}


    .welcome{
        text-decoration: none;
        display: flex;
        position: relative;
        color: rgb(176, 164, 164);
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        backdrop-filter: blur(3px);
        background-color: #0000005d;
        border: 2px solid #0000005a;
        border-radius: 0.5rem;
        align-items: center;
        text-align: center;
        padding: 5px;
        width: 100%;
    }